@model IEnumerable<BulkyBook.Models.Product>

<div class="row pb-3">
  @foreach (var product in Model)
  {
    <div class="col-lg-3 col-md-6">
        <div class="row p-2">
            <div class="col-12 p-1" style="border:1px solid #008cba;border-radius:5px">
                <div class="card">
                    <img src="@product.ImagePath" class="card-img-top rounded" height="350px"/>
                    <div class="card-body">
                        <div class="pl-1">
                            <p class="cardcard-title h5 text-primary">@product.Title.Substring(0,12)</p>
                            <p class="cardcard-title text-info">@product.Author</p>
                        </div>
                        <div class="pl-1">
                            <p>List Price:<strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                        </div>
                         <div class="pl-1">
                            <p>As Low As:<b>$@product.Price100.ToString("0.00")</b></p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <a asp-action="Details" class="btn btn-sm btn-outline-primary form-control mt-2 mb-2" asp-route-productId="@product.Id">Details</a>
                </div>
            </div>
        </div>
    </div>
  }
</div>
